body {
  @apply font-serif text-zinc-900;
  background-color: #d3d1c4;
  background-image: url("/noise.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headings;
  font-variation-settings: "wdth" 75, "GRAD" -50;
}
