body {
  @apply font-serif text-zinc-900;
  background-color: #d3d1c4;
  background-image: url("/noise.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headings;
  font-weight: 500;
  font-variation-settings: "GRAD" -50;
}

.font-ultracondensed {
  font-stretch: ultra-condensed;
}
.-z-1 {
  z-index: -1;
}
.squiggle-0 {
  --squiggle-length: 0;
}
.hover\:squiggle-1:hover {
  --squiggle-length: 1;
}

.text-shadow-sm {
  text-shadow: 1px 1px 1px var(--tw-shadow-color);
}
.text-shadow {
  text-shadow: 1px 1px 5px var(--tw-shadow-color);
}
