html {
  scroll-behavior: smooth;
}
body {
  @apply font-sans text-zinc-900 bg-background-tan;
  background-image: url("/noise.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-headings;
  font-weight: 500;
  font-variation-settings: "GRAD" -50;
}

.font-ultracondensed {
  font-stretch: ultra-condensed;
}
.font-extracondensed {
  font-stretch: extra-condensed;
}
.-z-1 {
  z-index: -1;
}
.hover\:squiggle .squiggle__path {
  --squiggle-length: 0;
  visibility: hidden;
}
.hover\:squiggle:hover .squiggle__path {
  --squiggle-length: 1;
  visibility: visible;
}

.text-shadow-sm {
  text-shadow: 1px 1px 1px var(--tw-shadow-color);
}
.text-shadow {
  text-shadow: 1px 1px 5px var(--tw-shadow-color);
}

a {
  @apply underline-offset-2 decoration-zinc-900/40 transition-colors;
}
.prose a,
.link {
  @apply underline;
}
.prose a:hover,
.link:hover {
  @apply decoration-zinc-900/0;
}
