---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import HomeCard from "../components/HomeCard.astro";
import HomeLine from "../components/HomeLine.astro";
import Squiggle from "../components/Squiggle.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Tiger x Daphne's Travels"
      description="Our collection of travel notes straight out of our notebook!"
      image="/social.jpg"
    />
  </head>
  <body class="bg-[#bdbabf]">
    <header class="m-3 mb-0 flex">
      <h1 class="font-headings flex-1 font-normal text-xl font-extracondensed">
        Tiger x Daphne's <span class="text-orange-700 font-semibold"
          >Travels</span
        >
      </h1>
    </header>
    <aside class="m-3 mt-0 mb-5 md:mb-20 text-sm">
      Our collection of travel notes straight out of our notebook!
    </aside>
    <main class="grid m-2 overflow-hidden">
      <a
        class="hero-card text-center relative p-8 mb-5 md:mr-10 md:mt-14 md:mb-20 text-white text-shadow shadow-black/50 hover:squiggle hover:text-orange-600"
        href="/travel-guides/southeast-asia"
      >
        <h2
          class="inline-block text-3xl sm:text-5xl font-ultracondensed relative z-10 transition-colors"
        >
          Southeast<br class="hidden sm:inline" />Asia
          <Squiggle
            class="absolute -bottom-10 -left-4 -right-8 text-black -z-1"
          />
        </h2>
        <img
          class="bg-black/30 absolute inset-0 w-full h-full object-cover object-top"
          src="/images/thailand_pai_canyon.jpg"
        />
      </a>
      <section class="home-cards grid">
        <HomeLine class="row-start-1" />
        <HomeCard
          class="row-start-2 col-start-1"
          title="Oahu"
          href="/travel-guides/oahu-hawaii"
          src="/images/oahu_honolulu.jpg"
        />
        <HomeCard
          class="row-start-2 col-start-2 col-span-2"
          title="Big Island"
          href="/travel-guides/big-island-hawaii"
          src="/images/big_island_polulu_valley.jpg"
        />

        <HomeLine class="row-start-3" />
        <HomeCard
          class="row-start-4 col-start-1"
          title="Budapest, Hungary"
          href="/travel-guides/budapest-hungary"
          src="/images/budapest_bath.jpg"
        />

        <HomeLine class="row-start-5" />
        <HomeCard
          class="row-start-6 col-start-1 col-span-2"
          title="East Coast USA"
          href="/travel-guides/east-coast-usa"
          src="/images/ny_manhattan.jpg"
        />
        <HomeCard
          class="row-start-6 col-start-3"
          title="Portland, OR"
          href="/travel-guides/portland-oregon"
          src="/images/oregon_sunriver.jpg"
        />
      </section>
    </main>
    <Footer />
    <style>
      main {
        grid-template: 40vw 1fr / 1fr;
      }
      .home-cards {
        --card-height: min(35vw, 300px);
        grid-template-columns:
          repeat(3, calc(var(--card-height) * 0.75))
          auto;
        column-gap: min(2vw, 2rem);
        grid-auto-rows: 1px var(--card-height);
      }
      @media (min-width: 768px) {
        main {
          grid-template: 1fr / 40vw 1fr;
        }
        .hero-card {
          min-height: 40vw;
        }
        .home-cards {
          --card-height: min(20vw, 300px);
          column-gap: min(2vw, 2rem);
        }
      }
    </style>
  </body>
</html>
