---
const today = new Date();
---

<footer class="p-7 mt-8 text-center text-sm">
  &copy; {today.getFullYear()}{' '}
  <a href="https://tigeroakes.com">Tiger Oakes</a> & <a
    href="https://daphneliu.com">Daphne Liu</a
  >. All rights reserved.
</footer>
