<header class="m-3 mb-20 pt-1 border-t-2 border-zinc-900 flex">
  <a class="flex-1" href="/">
    <h1 class="title font-normal font-extracondensed group">
      Tiger x Daphne's <span
        class="text-orange-700 font-medium group-hover:font-semibold transition-[font-weight]"
        >Travels</span
      >
    </h1>
  </a>
</header>

<style>
  .title {
    contain: content;
  }
</style>
