---
import { NotionCollectionEntry } from "../lib/notion";
import HomeCard from "./HomeCard.astro";

export interface Props {
  row: readonly NotionCollectionEntry[];
}

const { row } = Astro.props;
---
<hr class="col-span-full border-zinc-900" />
<section class="col-span-full grid home-extra">
  {row.map(page => (
    <HomeCard title={page.data.title} href={`/travel-guides/${page.slug}`} />
  ))}
</section>

<style>
  .home-extra {
    grid-template-columns: repeat(auto-fit, min(20vw, 225px));
    column-gap: min(2vw, 2rem);
    margin-right: min(20vw, 225px);
  }
  @media (max-width: 600px) {
    .home-extra {
      margin-right: 0;
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
