---
export interface Props {
  pubDate?: string;
  updatedDate?: string;
}

const { pubDate, updatedDate } = Astro.props;

const formatter = new Intl.DateTimeFormat("en-US", {
  dateStyle: "long",
  timeZone: "UTC",
});

function toIsoDate(date: Date) {
  const [isoDate] = date.toISOString().split("T");
  return isoDate;
}

let text = "Written on ";
let date: Date | undefined;
if (updatedDate) {
  text = "Updated on ";
  date = new Date(updatedDate);
} else if (pubDate) {
  date = new Date(pubDate);
}
---

{
  date && (
    <div>
      {text}
      <time datetime={toIsoDate(date)}>{formatter.format(date)}</time>
    </div>
  )
}
